  <div class="grid wide">
      <div class="row">
          <div class="col c-12 l-3 m-4">
              <h3>Chosic</h3>
              <ul class="footer__list">
                  <li><a href="/">Playlist Generator</a></li>
                  <li><a href="/">Genre Finder</a></li>
                  <li><a href="/">Playlist Analyzer</a></li>
                  <li><a href="/">Spotify Stats</a></li>
                  <li><a href="/">All Tools</a></li>
                  <li><a href="/">Blog</a></li>
                  <li><a href="/">Music Instruments</a></li>
              </ul>
          </div>
          <div class="col c-12 l-3 m-4">
              <h3>Royalty Free Music</h3>
              <ul class="footer__list">
                  <li><a href="/">Free Music Download</a></li>
                  <li><a href="/">Sound Effects</a></li>
                  <li><a href="/">Free Music FAQ</a></li>
                  <li><a href="/">Report Problem</a></li>
              </ul>
          </div>
          <div class="col c-12 l-3 m-4">
              <h3>More</h3>
              <ul class="footer__list">
                  <li><a href="/">Contact Us</a></li>
                  <li><a href="/">Terms of Service</a></li>
                  <li><a href="/">Privacy Policy</a></li>
                  <li><a href="/">DMCA</a></li>
              </ul>
          </div>
          <div class="col c-12 l-3 m-4">
              <h3>Connect</h3>
              <p class="footer__connect">
                  Music tools are powered by the Spotify Web API
              </p>
          </div>
      </div>
  </div>
  <p class="footer__copyright">Copyright by Genrist - 2025</p>