<div class="header_nav">
  <a href="/">
    <img
      src="/images/logo.png"
      style="width: 80px; height: 80px"
      alt="Logo"
    />
  </a>

  <nav id="nav-control" class="topnav">
    <a href="/artist">Artists</a>
    <a href="/genre">Genres</a>
    <a href="/song">Songs</a>
  </nav>

  <nav id="nav-control" class="topnav">
    <a class="login" id="auth-link" href="/login">Login</a>
  </nav>

  <i
    id="theme-icon"
    class="fa-solid fa-moon"
    onclick="toggleTheme()"
    aria-label="Toggle Theme"
  ></i>
</div>

