<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css"
            integrity="sha512-lauN4D/0AgFUGvmMR+knQnbOADyD/XuQ8VF18I8Ll0+TLvsujshyxvU+uzogmQbSq6qJd5jnUdYtK8ShxXMlSg=="
            referrerpolicy="no-referrer"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/stylesheets/main_base.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />

        <title><%= title %></title>
    </head>
    <body>

        <div id="root">
            <p>
            <div class="menu">
                <div class="menu__logo">
                    <img src="/images/logo.png" alt="Logo" />
                </div>
                <ul class="menu__options">
                    <li>
                        <a href="/artist">Artist</a>
                        <i class="fa-solid fa-star"></i>
                    </li>
                    <li>
                        <a href="/song">Song</a>
                        <i class="fa-solid fa-music"></i>
                    </li>
                    <li>
                        <a href="/genre">Genre</a>
                        <i class="fa-solid fa-bars"></i>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                        <i class="fa-solid fa-circle-user"></i>                    
                    </li>
                </ul>
            </div>
            </p>
        </div>
        <script src="/javascripts/main.js"></script>
        <script src="https://kit.fontawesome.com/ce05c45ec5.js" crossorigin="anonymous"></script>

    </body>
</html>
